
.cfg
.lesshst
.gnupg/
.cargo/
.cache/ 
.bash_history 
.bash_logout
.bash_profile
.local/
.pki/
yay/
.viminfo
.config/autostart/
.config/BraveSoftware/
.config/gtk-2.0/
.config/gtk-3.0/
.config/pulse/
.config/Skype/
.config/skypeforlinux/
.config/Thunar/
.config/xfce4/
mimeapps.list
.Xauthority
.gitconfig
